<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.itvarsity.pinecityzoo"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pine City Zoo</name>

  <description>
     This app serves as a tour guide for the Pine City Zoo.
  </description>

  <author href="http://itvarsity.co.za" email="info@itvarsity.co.za">
      IT Varsity
  </author>

</widget>